/* Main Container Style */
#main-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light Gray Background */
    border-radius: 8px; /* Rounded Corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Shadow */
    overflow-y: auto; /* Adds scroll if content overflows */
}

/* Action Buttons Container */
#action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    background-color: #e9ecef;  /* Light Gray Background */
    padding: 10px;  /* Inner Spacing */
    border-radius: 8px;  /* Rounded Corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle Shadow */
}

/* General Button Style */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

/* Hover effect */
button:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Active effect */
button:active {
    transform: scale(0.98);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Focus effect */
button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #007bff;
}

/* Specific styling for "Ask for AI advice" button */
#ask-button {
    background-color: #28a745; /* Green */
}

#ask-button:hover {
    background-color: #218838; /* Darker Green */
}

/* Specific styling for "Reverse" button */
#reverse-button {
    background-color: #ffc107; /* Yellow */
}

#reverse-button:hover {
    background-color: #e0a800; /* Darker Yellow */
}

/* Style for selected symptoms area */
#selected-symptoms {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Area to display the AI's advice */
#bot-answer {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for symptom buttons container */
#symptom-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}







/* Style for Footer */
footer {
    margin-top: 30px;  /* or any value you prefer */
    background-color: #f1f1f1;  /* background color */
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.footer-copy {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
